.vs
/build/Debug/*.exe
/build/Debug/*.ilk
/build/Debug/*.pdb
/build/Debug/Ess3D.dll
/build/Debug/Shaders
/build/Debug/Sounds
/build/Debug/Textures
/build/Debug/GUI
/build/Release/Ess3D.dll
/build/Release/Shaders
/build/Release/Sounds
/build/Release/Textures
/build/Release/GUI
/build/Debug/*.log
/build/DebugNCP
/build/Release/CEGUI.log
/cmake-build-debug
out
Debug/vs-dapong.vcxprojAssemblyReference.cache
Debug/vs-dapong.log
/build/Debug/pong.exp
/build/Debug/pong.lib
/build/Release/pong.exe
/build/Release/pong.exe.manifest
/cmake-build-debugncp/
/cmake-build-release/
/Release/
x64/Debug/vs-dapong.tlog
UpgradeLog.htm
x64/Debug/vs-dapong.log
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
*.log
x64/Debug/vs-dapong.vcxproj.FileListAbsolute.txt
