.vs
/build/Debug/*.exe
/build/Debug/*.ilk
/build/Debug/*.pdb
/build/Debug/Ess3D.dll
/build/Debug/shaders
/build/Debug/sounds
/build/Debug/textures
/build/Debug/gui
/build/Release/Ess3D.dll
/build/Release/shaders
/build/Release/sounds
/build/Release/textures
/build/Release/gui
/build/Debug/*.log
/build/Release/CEGUI.log
/cmake-build-debug/
/cmake-build-release/
out
Debug/vs-dapong.vcxprojAssemblyReference.cache
Debug/vs-dapong.log
/build/Debug/pong.exp
/build/Debug/pong.lib
/build/Release/pong.exe
/build/Release/pong.exe.manifest
/Release/
