.vs
/build/Debug/*.exe
/build/Debug/*.ilk
/build/Debug/*.pdb
/build/Debug/Ess3D.dll
/build/Debug/Demo/Shaders
/build/Debug/Demo/Sounds
/build/Debug/Demo/Textures
/build/Debug/Demo/GUI
/build/Release/Ess3D.dll
/build/Release/Demo/Shaders
/build/Release/Demo/Sounds
/build/Release/Demo/Textures
/build/Release/Demo/GUI
/build/Debug/*.log
/build/DebugNCP
/build/Release/CEGUI.log
/cmake-build-debug